/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #DBDBDB;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 0 0;
    padding: 0.7em 0.7em 0 0.7em !important;
    background: #fff !important;
    opacity: 0.5 !important;
    width: 325px !important;
}


